<div class="left-navigation-section">
    <div class="form-control">
        <div class="label">PRODUCTS</div>
        <div class="form-field">
            <select name="cars" id="cars">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="opel">Opel</option>
              <option value="audi">Audi</option>
            </select>
        </div>
    </div>
    <div class="form-control">
        <div class="label">MASTER RECIPES</div>
        <div class="form-field">
            <select name="cars" id="cars">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="opel">Opel</option>
              <option value="audi">Audi</option>
            </select>
        </div>
    </div>
    <div class="form-control">
        <div class="label">PLANT/AREA</div>
        <div class="form-field">
            <select name="cars" id="cars">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="opel">Opel</option>
              <option value="audi">Audi</option>
            </select>
        </div>
    </div>
    <div class="form-control">
        <div class="label">PCELL/LINE</div>
        <div class="form-field">
            <select name="cars" id="cars">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="opel">Opel</option>
              <option value="audi">Audi</option>
            </select>
        </div>
    </div>
    <div class="form-control">
        <div class="label">FROM</div>
        <div class="form-field">
            <input type="date" id="birthday" name="birthday">
        </div>
    </div>
    <div class="form-control">
        <div class="label">TO</div>
        <div class="form-field">
            <input type="date" id="birthday" name="birthday">
        </div>
    </div>

    <div class="action-buttons">
        <button type="button">Apply</button>
    </div>
</div>
