.main-content {
    height: 100%;
    flex-direction: column;
    .left-section {
        min-width: 16%;
        width: 16%;
        border: 2px solid #dedede;
        display: block;
    }
    .right-section {
        width: 70%;
        margin-left: auto;
    }
    .right-section-inner {
        width: 50%;
    }
    .chart-container {
        display: flex;
        justify-content: space-between;
        .chart-section {
            width: 49%;
        }
    }
}