<div class="site-details-card">
    <div class="row-1">
        <div class="col-1">
            <div class="card-timestamp">
                <p>{{SiteDetails.timeStamp}}</p>
            </div>
            <div class="site-name">
                <h3>{{ SiteDetails.name }}</h3>
            </div>
            
        </div>
        <div class="col-2">
            <div class="black-graph-icon">
                <img src="../../assets/png/black-graph-icon.png">
            </div>
            <div class="black-bell-icon">
                <img src="../../assets/png/black-bell-icon.png">
            </div>
        </div>
    </div>
    <div class="site-status">
        <p>{{SiteDetails.status}}</p>
    </div>
</div>