.header-component {
    display: flex;
    justify-content: space-between;
    .left-section {
        display: inline;
        span {
            display: block;
        }
    }
    .site-tile {
    }
    .right-section {
    }
}
.dashboard-tab{
    display: flex;
    height: 51px;
    background: #0579cc;
    align-items: center;
    padding: 0 5px;
    div {
        height: 21px;
        width: auto;
        min-width: 60px;
        padding: 5px;
        margin: 0 5px;
        color: #fff;
        cursor: pointer;
        text-align: center;
        &:hover {
            opacity: .7;
        }
        &.selected {
            background-color: #fff;
            color: #000;
            opacity: 1;
        }
    }
    
}