<div class="header-component">
     <div class="left-section">
       <div class="custom-heading-1">ROCKWELL AUTOMATION INDUSTRY SOLUTIONS</div>
       <div class="custom-heading-2"><h1>Batch Performance</h1>&nbsp;<h2>Analytics</h2></div>
     </div>
     <div class="site-title">
       Bayer Houston
     </div>
     <div class="right-section">
        <div class="username"> <img src="../../assets/png/user-icon.png"> <p>John</p></div>
        <div class="apply-btn"> Logout </div>
     </div>   
</div>
<nav class="dashboard-tab">
  <a href="/enterprise">
    <div routerLink="/enterprise" routerLinkActive="nav-active" class="enterprise-tab">Enterprise</div>
  </a>
  <a href="/site">
    <div routerLink="/site" routerLinkActive="nav-active" class="site-tab">Site</div>
  </a>
  <a href="/" class="nav-disabled">
    <div routerLink="/compare" routerLinkActive="nav-active"  class="compare-tab">Compare</div>
  </a>
  <a href="/" class="nav-disabled">
    <div routerLink="/correlation" routerLinkActive="nav-active"  class="correlation-tab">Correlation </div>
  </a>
  <a href="/" class="nav-disabled">
    <div routerLink="/events" routerLinkActive="nav-active"  class="events-tab">Events</div>
  </a>
  <a href="/" class="nav-disabled">
    <div routerLink="/settings" routerLinkActive="nav-active"  class="settings-tab">Settings</div>
  </a>
</nav>

