<div class="header-component">
     <div class="left-section">
       <span>ROCKWELL AUTOMATION INDUSTRY SOLUTIONS</span>
       <span>Batch Performance Analytics</span>
     </div>
     <div class="site-title">
       Bayer Houston
     </div>
     <div class="right-section">
       Logout
     </div>   
</div>
<div class="dashboard-tab">
    <div class="enterprise-tab">Enterprise</div>
    <div class="site-tab">Site</div>
    <div class="compare-tab">Compare</div>
    <div class="correlation-tab">Correlation</div>
    <div class="events-tab">Events</div>
    <div class="settings-tab">Settings</div>
</div>
