.header-component {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 0px 10px;
    .left-section {
        display: inline;
        span {
            display: block;
        }
    }
}

.left-section {
    color: var(--primary-color);
    .custom-heading-1 {
        border-top: 1.5px solid var(--border-color-primary);
        font-size: 12px;
        font-weight: 5500;
    }
    .custom-heading-2 {
        display: flex;
        align-items: center;
        height: 32px;
        font-size: 18px;
        h1{
            font-weight: 700;
        }
        h2 {
            padding-top: 6px;
            font-weight: 400;
        }
    }
}

.right-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-right: 30px;
}

.dashboard-tab{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 51px;
    background: var(--nav-bar-bg-color);
    text-align: center;
    align-items: center;
    font-weight: 700;
    padding: 0 5px;
    div {
        height: 21px;
        width: auto;
        min-width: 120px;
        padding: 5px;
        //background: #fff;
        color: var(--text-color-secondary);
        margin: 0 5px;
    }
    .tab:hover {
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        background: var(--background-color-secondary);
        color: var(--text-color-primary);
        cursor: default ;
        //opacity: .7;
        
    }

    .selected {
        background: var(--background-color-secondary);
        color: var(--text-color-primary);
        opacity: 1;
    }
}

.username{
    color: var('--text-color-option-1');
    img {
        height: 22px;
        max-width: 100%;
    }
    display:flex;
    align-items:center;
    justify-content:center;
    p {
        padding-left: 10px;
        font-size: 20px;
        font-weight: 600;
    }
}

.site-title{
    font-weight: 700;
    font-size: x-large;
}

.primary-btn {
    background-color: var(--button-color-primary);
    color: var(--text-color-secondary);
    height: 30px;
    width: auto;
    min-width: 100px;
    text-align: center;
    vertical-align: middle;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor: default;
}