@import '../../../../mixsin.scss';

.site-meteric-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calculateRem(40px);
    font-weight: 700;
    background: var(--color-option-2-alpha);// background-opacity(, 0.5);
}

.tab {
    color: var(--text-color-primary);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    opacity: 1;
    cursor: pointer;
    background-color: transparent;
    border: none;
 }

 .selected, .tab:hover{
    text-decoration: underline;
    background: var(--color-option-2);   
 }