.bpi-contributor {
    display: flex;
    .contributor-section {
        border: 1px solid #c1c1c1c1;
        height: 103px;
        width: 103px;
        text-align: center;
        padding: 5px;
        margin: 5px 10px;
    }
}