.bpi-contributor {
    .bpi-contributor-section {
        display: flex;
    .contributor-section {
        border: 1px solid #c1c1c1c1;
        height: 103px;
        width: 103px;
        text-align: center;
        padding: 5px;
        margin: 5px 10px;
        .golden {
            font-size: .6em;
            text-align: left;
            div {
                display: inline-block;
            }
            .avg-indicator {
                width: 55px;
                height: 8px;
                background: #c1c1c1c1;
                .prop {
                    background-color: green;
                    width: 41px;
                    height: 100%;
                    /* border: none; */
                    display: block;
                }
            }
            .para-ind {
                width: 55px;
                display: flex;
                height: 2px;
                .warning {
                    width: 40%;
                    background: yellow;
                }
                .good {
                    width: 40%;
                    background: red;
                }
                .excellent {
                    width: 20%;
                    background: green;
                }
            }
           
        }
       
        .meterics {
            margin-top: 6px;
        }
        .percentage2 {
            text-align: left;
        }
        .percentage {
            font-size: 1.5em;
        }
    }
    }
    
    .bpi-contributor-header {
        background: #c1c1c1c1;
        margin-top: 10px;
        height: 25px;
        padding: 5px 10px;
    }
}