<div class="bpi-contributor">

    <div class="contributor-section">
        <div class="title">
            BPI
        </div>
        <div class="meterics">
            AVERAGE
        </div>
        <div class="percentage1">
            75%
        </div>
        <div class="">
            <span>GOLDEN</span>
        </div>
        <div class="percentage2">
            95%
        </div>
    </div>
    <div class="contributor-section">
        <div class="title">
            QUALITY
        </div>
        <div class="meterics">
            AVERAGE
        </div>
        <div class="percentage1">
            75%
        </div>
        <div class="">
            <span>GOLDEN</span>
        </div>
        <div class="percentage2">
            95%
        </div>
    </div>
    <div class="contributor-section">
        <div class="title">
            CYCLE TIME
        </div>
        <div class="meterics">
            AVERAGE
        </div>
        <div class="percentage1">
            75%
        </div>
        <div class="">
            <span>GOLDEN</span>
        </div>
        <div class="percentage2">
            95%
        </div>
    </div>
    <div class="contributor-section">
        <div class="title">
            RM DOSING
        </div>
        <div class="meterics">
            AVERAGE
        </div>
        <div class="percentage1">
            75%
        </div>
        <div class="">
            <span>GOLDEN</span>
        </div>
        <div class="percentage2">
            95%
        </div>
    </div>
</div>